<!--The content below is only a placeholder and can be replaced.-->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div [ngStyle]="{'display': loggedIn ? 'block' : 'none', 'padding': '10px'}">
  <img src="https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Registry.png">

  <span [ngStyle]="{'float': 'right'}">
    <button class="btn btn-warning" [ngStyle]="{'float': 'right'}" (click)="onLogoutClick()">Logout</button>
  </span>

</div>

<div [ngStyle]="{'display': loggedIn ? 'block' : 'none'}">
  <nav #navbar class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link active" routerLink="users">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="posts">Posts</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="comments">Comments</a></li>
      </ul>
    </div>
  </nav>
</div>

<app-login #login [ngStyle]="{'display': loggedIn ? 'none' : 'block'}" (loginSuccess)="onLoginSuccess()"></app-login>

<router-outlet [ngStyle]="{'display': loggedIn ? 'block' : 'none'}"></router-outlet>